name: Deploy Digital Cathedral
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Configure Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
          
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
            
      - name: Install Liturgy Tools
        run: pip install mkdocs-material 
        
      - name: Configure Git for Deploy
        run: |
          git config --global user.name "DDA-X Bot"
          git config --global user.email "bot@dda-x.com"
          
      - name: Build and Deploy the Sanctuary
        run: mkdocs gh-deploy --force
